In [ ]:
tup=(1,2,3,4,5)#tuple with square brackets 
tup=1,2,3,4,5,6#tuple without squrae brackets 
print(tup)

In [ ]:
tup=(1.2,2.3,3.4,5.0)#tuple of floats.
t1=("string","12","pak","second")#tuple of strings.
t2=(True,False,True)#tuple of boolean.
t3=()#Empty Tuple.
print(type(tup),type(t1),type(t2),type(t3),t1,tup,t3,t2,sep="\n")

In [ ]:
#Single Elements Tuple.
t4=(23)# the python considor it as the int not tuple to create a tuple provide square brackets and the comma after the value,
t4=(23,)#this is tuple the above one is not.
print(type(t4),t4)

In [ ]:
#tuple has the nested tuple or the tuple inside the tuple.
t5=(1,2,3,(5,6,76,7))
print(type(t5),t5)

In [ ]:
#Tuple has the nested items of integars, tuples it self, list.
t6=(1,2,3,(3,45,5),[2,3,45,5])
print(type(t6),t6)

# Tuple(1,) are also hetrogeneous like as the list[1,2].

In [ ]:
t7=("string",True,2.3,23)
print(type(t7),t7)

# Tuple are the ordered Means the every Elements or item has the associated by an index.
1. Every time you associate with tuple elements they will show up in the same sequence.
2. Two Tuples have same elements with diffrence sequence are not same.

In [ ]:
# by value and the address both has the different they show the false on both.
t8=(1,2,3)
t9=(3,1,2)
print(id(t8) is id(t9)," ",id(t8) ," ", id(t9)  ," ", t8==t9 )

In [ ]:
# here they has the same value and the diffrent address.
t8=(1,2,3)

t9=(1,2,3)
print(t8 is t9 , t8==t9 )

In [ ]:
Err=(1,2,3,45,5)#Tuple are immutables.
Err[2]=123# this will generat the Error.
Err

In [ ]:
# Tuple sport the reassignment not replacement.
reassign=(1,2,34,4)#this one become orphan.
reassign=(2,3,4,5)#the new value assigned to the tuple.
reassign

In [ ]:
# The list inside the Tuple still mutable.
mut=(1,2,[1,"not ok","Same",2.3],(1,2,3,"same"))
mut[2][1]="Ok"    # This will Work Fine.
mut

# Unpacking
1. you can Unpack the tuple.
2. The Numbers of Variables on the left must match the length of Tuple.

In [ ]:
unpack=("First","Second","Third","Forth","Five")
t1,t2,t3,t4,t5=unpack
print(t1,t2,t4)

# Packing
1. You can Pack the individual Elements to a Tuple.

In [ ]:
pack=t1,t2,t3,t4,t5
print(type(pack),pack,sep="\n")

# Accessing
1. by Indexing.
2. by index() method of Tuple Class.

In [ ]:
# We can Accessing the elements or Value by using the indexing which start from Zero.
acc=("Hamid",12,3.2,(12,"Ali"))
print(acc[2])               #Accessing Elements at the index of 2.
print(acc[3])               # Accessing Elements at the index of 3 which again Tuple.

# Accessing the Nested Elements.

print(acc[0][3])           # Accessing the forth Elements it the index of 0.
acc[3][1][2]                # Accessing the Nested Elements.

# Negative Indexing
1. Negative Indexing starts looking at the Tuple from the Right hand Side.

In [ ]:
neg=(1,2,"Like String or List.","Negative Indexing")
print(neg[-1],neg[-2],sep="\n")

# Index() Method
1. index(value) Method is used when you know  the Tuple Elements and Wants  to get  its index.
2. index(value) Method returns the index of the first Matched item with  its only Argument.

In [ ]:
ind=(1,"Arif","Ali",2,3)
# Get the Index of the Arif 
tupind=ind.index("Arif")
print(ind,tupind,sep="\n")

# Slicing Tuple:
1. Tuple[start:stop:step]
 1. start >< By Default it Zero and you can Over Writh it.
  2. stop >< By Default it is the lenght of the Tuple and you can Also over writh it.
  3. step >< By Default it is Also 1 and you and also over writh it.
2. Slicing >< Can be of any order means the Asending or desending order Or Negative or Positive.

In [ ]:
# positive or left to Right Slicing of Tuple.
sli=("a","b","c","d","e","f")
mysli=sli[0:-1:]
mysli

In [ ]:
# Negatie or Right to Left Slicing of Tuple.
mysli1=sli[::-1]
mysli1

In [ ]:
# tuple are immutable show the slicing on the right or variable side can generate Error.
sli[2::-1]=sli#this Generate Error.

# Concatenation of Tuple.
1. The + Operator is use to Concatenate the Two or more tuples.

In [ ]:
a=(1,2,3,4)
b=a+(",",1,2,3)         #Adding Some Element at the End of the Existing Tuples using Concatenation operator.
c=(0,)+b                   #Adding the Some Elements at the Start of the Existing Tuple using concatenation operator.
a,b,c

In [ ]:
# using the HetroGeneous Tuple with Concatenation operator.
a=(1,2.3,"String",True)
b=(False,0,2.0j,"string")
c=a+b
a,b,c

# Replicated of Tuple.
1. We can Replicate the Tuple at the Multiple Types by Using the * opertor.

In [ ]:
rep=("Hamid","ALi","ML,Al")
newrep=rep*3
newrep

In [ ]:
rep=("A")
newrep=rep*100
print(newrep)

# Adding Elements:
1. like we able to add Elements in list using the appened(),Extend(),insert() and the Tuple is immutable so we are not able to add or remove Element from the Tuple.
2. AttributeError: 'tuple' object has no attribute 'insert'

In [ ]:
rep=("Hamid","ALi","ML,Al")
newrep=rep.insert(2,"Error")        #This will Generate the Error. the tuple has no Attribute like insert. 
print(newrep)

# Removing Elements
1. Tuple are Immutable. so we can not able to remove Element or s from Tuple(This is possible in the list by using the "POP" or "Remove" Methods).
2. if we do this will generate Error.
3. AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
rep=("Hamid","ALi","ML,Al")
newrep=rep.pop()        #This will Generate the Error. the tuple has no Attribute like insert. 
print(newrep)

# Delete the whole Tuple:
1. Delete the Whole Tuple is possible  by using the del method.
2. This will also generate Error.
3. NameError: name 'dele' is not defined.

In [ ]:
dele=(1,2,3)
del dele
print(dele)

# Converting into the Tuple

In [ ]:
string="Learning is great Fun" #This is String.
newborn=tuple(string) #this is converted into Tuple.
print(type(string),string,type(newborn),newborn,sep="\n")

# Split() Method
1. Split() Method By Default return the list.
2. After getting the list we type cast it into Tuple.
3. Like Below.

In [ ]:
str1="Learning Coding is Great Fun"# This is String.
tip=tuple(str1.split(" ")) # Here we convert the string into List using the Split() Methods and 
# then we convert it into Tuple.
print(type(tip),tip,sep="\n")

In [ ]:
str1="Learning Coding is Great Fun"
tip2=tuple(str1.split('i'))# Here we also convert the string like above as but now 
# we split on the base of Charactor.but there is only one contidition that the the charactor 
# your pick for split is inside the str.
print(type(tip2),tip2,sep="\n")

# " ".Jion() Method
1. " " is called the delimater it can be any charater or symbol. i.e. #,-,_ any
2. "#".join(Tuple) it convert the Tuple into String(str)

In [ ]:
jio=" ".join(tip)
print(type(jio),jio,sep="\n")

jio="_".join(tip)
print(type(jio),jio,sep="\n")

# Misc Tuple Methods In Python.
1. Tuple.index(value) :-->  2. Tuple.count(value) :--> 3.0 len(Tuple) :-->  3. max(tuple) :-->  4. min(tuple) :-->  5. sum(tuple):
2. The Last Three Methods Work on the interge Tuple.

In [ ]:
t1=("string","H",2,4,"HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH")
t2=t1.index("H")
t2

In [ ]:
t1=("string","H","H","H","H","H","H","H","H",2,4,"HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH")
t2=t1.count("H")
t2

In [ ]:
t1=("string","H","H","H","H","H","H","H","H",2,4,"H")
t2=len(t1)
t2

In [ ]:
t1=(1,6,56,6,2,4)
t2=min(t1)
t2

In [ ]:
t1=(1,6,56,6,2,4)
t2=max(t1)
t2

In [ ]:
t1=(1,6,56,6,2,4)
t2=sum(t1)
t2

# in , Not in
### Membership Operator 
1. Like list we can apply "in" and "not in" membership operator on Tuple.
2. if "in"Operator has the give in the Tuple then they return True or other vise False.
3. IN "not in" Operator work Oppisite to "in" operator.Means the "not in" return True when there is no given Value in the Tuple and vice versa.

In [ ]:
tup=(2,3,4,5,7,9)
rv=8 in tup
rv

In [ ]:
tup=(2,3,4,5,7,9)
rv=8 not in tup
rv

In [ ]:
tup=("string","String","STRing")
rv="String" in tup 
rv

# Comparing Objects id() And Value ==

In [ ]:
tup1=(3,1,3);tup2=(1,2,3)
print(id(tup1)is id(tup2),tup1==tup2,sep="\n")

In [ ]:
tup1=(1,2,3);tup2=(1,2,3)
print(id(tup1)is id(tup2),tup1==tup2,sep="\n")

#  Sorting Tuple:
1. the sort() Methods that work on the list did not work on the Tuple because it's immutable.
2. To the Tuple we use the sorted() Methods sorted(iterable,key=none,reverse=false)
3. The Sorted() Method is work Properly on the list and the Tuple and it return the sorted copy of the list and the original one remain same.
4. The Sorted() Methods return the list by default.

In [5]:
# Sorting Tuple with numeric.
t1=(1,2,36,3,7,30,2)
list1=sorted(t1)
list2=sorted(t1,reverse=True)
list1,list2

([1, 2, 2, 3, 7, 30, 36], [36, 30, 7, 3, 2, 2, 1])

In [10]:
# Here WE Sorted() The Tuple with String data Type.
t1=("String","Alpha","Beta","Iterate")
list1=sorted(t1)
list2=sorted(t1,reverse=True)
list3=sorted(t1,reverse=True,key=len)
list1,list2,list3

(['Alpha', 'Beta', 'Iterate', 'String'],
 ['String', 'Iterate', 'Beta', 'Alpha'],
 ['Iterate', 'String', 'Alpha', 'Beta'])

# Sort the Tuple on BAse of Last Element of the STring. key=last

In [14]:
# Here WE Sorted() The Tuple with String data Type.
def last(s):
    return s[::-1]
t1=("String","Alpha","Beta","Iterate","Adam")
list1=sorted(t1)
list2=sorted(t1,reverse=True)
list3=sorted(t1,key=last)
list1,list2,list3

(['Adam', 'Alpha', 'Beta', 'Iterate', 'String'],
 ['String', 'Iterate', 'Beta', 'Alpha', 'Adam'],
 ['Alpha', 'Beta', 'Iterate', 'String', 'Adam'])